:root {
  --main-bg-color: rgb(45, 48, 62);
  --dark-bg-color: rgb(41, 43, 59);
  --trans-bg-color: rgba(135, 136, 139, 0.2);
  --color-bg: rgb(184, 184, 184);
  --border-color: rgb(190, 215, 219);
}

body {
  margin: 0;
}